%nav
  .nav-wrapper.blue.darken-1
    .row
      .col.s12
        %a.brand-logo{:href => "#"} TicketBoard
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            %a{:href => new_user_registration_path} Registrate
          %li
            %a{:href => "#"} Iniciar Sesión
          %li
            %a{:href => "#"} Quienes Somos